<h2>Login or Signup</h2>

<div class="signup form-container card">
  <form class="form signup-form" id="signup-form">
    <h3>Signup</h3>
    <label for="username-signup">username:</label>
    <input class="form-input" type="text" id="username-signup" autocomplete="username" required/>
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" id="password-signup" autocomplete="new-password" required/>
        <label for="password-confirm-signup">confirm password:</label>
    <input class="form-input" type="password" id="password-confirm-signup" autocomplete="new-password" required/>
    <button class="btn btn-primary" type="submit">signup</button>
  </form>
</div>

<div class="login form-container card">
  <form class="form login-form" id="login-form">
    <h3>Login</h3>
    <label for="username-login">username:</label>
    <input class="form-input" type="text" id="username-login" autocomplete="username" required/>
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" autocomplete="current-password" required/>
    <button class="btn btn-primary" type="submit">login</button>
  </form>
</div>

<script src="/js/login.js"></script>