<h2>Login</h2>

<form class="form login-form" id="login-form">
  <label for="username-login">username:</label>
  <input class="form-input" type="text" id="username-login" autocomplete="username" />
  <label for="password-login">password:</label>
  <input class="form-input" type="password" id="password-login" autocomplete="current-password" />
  <button class="btn btn-primary" type="submit">login</button>
</form>

<script src="/js/login.js"></script>