<h2>Add a Blog Post</h2>


<div class="blog form-container card">
  <form class="form blog-form" id="add-blog-form">
    <label for="title">Title</label>
    <input class="form-input" type="text" id="title" required/>
    <label for="content">Content</label>
    <textarea class="form-input textarea" id="content" spellcheck="true" required/>
    </textarea>
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>
